@CHARSET "ISO-8859-1";
/** CSS goes in here **/

#tabs-wrapper{
	width: 800px;
	margin: 0 auto;
}

.tabs{
	list-style-type: none;
	height: 50px;
}

.tabs li{
	width: 150px;
	height: 30px;
	border: 1px solid #cccccc;
	float: left;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	margin-right: 5px;
	color: #cccccc;
}

.tabs li a:hover{
	cursor: pointer;
	color: #c20c0c;
}
.tabs li a{
	text-decoration:none;
	color: #cccccc;
}

.tabs-click.active a{
	color: #c20c0c;
}